.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 34rem);
  grid-row-gap: 2.5rem;
  grid-column-gap: 2rem;
}

.folderAddContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folderWrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.listedFolderName {
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
  background: #fff;
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
}

.addBtn {
  margin: 0;
  background: inherit;
  cursor: pointer;
  border: none;
}

.clickedFolder {
  color: #fff;
  background: var(--linkbrary-primary-color, #6d6afe);
}

.folderOptionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
}

.currentFolderName {
  color: #000;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.2rem;
}

.optionContainer {
  display: flex;
  gap: 0.75rem;
}

.optionWrapper {
  display: flex;
  gap: 0.25rem;
  border-style: none;
  background: none;
}

.optionImg {
  color: var(--linkbrary-gray-60, #9fa6b2);
}

.optionName {
  color: var(--linkbrary-gray-60, #9fa6b2);
  font-size: 1.4rem;
  font-weight: 600;
}

.mainWrapper {
  width: 106rem;
  padding-top: 4rem;
  padding-bottom: 10rem;
  margin: auto;
}
