.header {
  background: var(--linkbrary-bg, #f0f6ff);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.3rem 20rem 3.2rem 20rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.profileImg {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.profileName {
  color: var(--linkbrary-gray-100, #373740);
  font-size: 1.4rem;
  font-weight: 400;
}

.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--grey-light);
  font-size: 1.8 rem;
  font-weight: 600;
}

.loginBtn {
  width: 12.8rem;
}

@media (min-width: 770px) and (max-width: 1199px) {
  .nav {
    min-width: 705px;
    max-width: 864px;
    justify-content: space-between;
    padding: 1.25rem 2.03rem;
    margin: 0 auto;
  }
}

@media (min-width: 390px) and (max-width: 769px) {
  .nav {
    padding: 0.81rem 32px;
  }

  .logoImg {
    width: 5.54169rem;
    height: 1rem;
  }

  .loginBtn {
    width: 5rem;
  }

  .button {
    font-size: 0.875rem;
  }
}
