.container {
  background: var(--linkbrary-bg, #f0f6ff);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80rem;
  margin: auto;
}

.addLink {
  width: 100%;
  height: 6.9rem;
  margin: 6rem 0 9rem 0;
  background: var(--linkbrary-white, #fff);
  background-image: url('/assets/icons/header/link.svg');
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: 2rem;
  padding-left: 5.2rem;
  border-style: none;
  border-radius: 15px;
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
}

.addLink::placeholder {
  color: var(--linkbrary-gray-60, #9fa6b2);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.addBtn {
  position: absolute;
  top: 7.5rem;
  width: 8rem;
  height: 3.7rem;
  right: 2rem;
  border-radius: 8px;
  padding: 1rem 1.6rem;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--grey-light, #f5f5f5);
  font-size: 1.4rem;
  font-weight: 600;
}
